<!--
  Generated template for the ViewProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html>
<head>
</head>
<body>
  <ion-header>
      <ion-toolbar>
         <ion-buttons>
           <button (click)="dismiss()"> Atras</button>
         </ion-buttons>
         <ion-buttons end>
           <button ion-button icon-only (click)="open()">
             <ion-icon name="add"></ion-icon>
           </button>
         </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item *ngFor="let item of lista">
        <ion-title>{{item.nombre}} </ion-title>
      </ion-item>
    </ion-list>
  <ion-list>
      <ion-item *ngFor="let item of lista2">
        <ion-title (click)="detalles(item.id)">{{item.nombre}} </ion-title>
      </ion-item>
    </ion-list>

  </ion-content>
</body>
</html>
