<!--
  Generated template for the ViewProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html>
<head>
</head>
<body>
  <ion-header>
      <ion-toolbar color="primary">
          <ion-title>Historia</ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
              <ion-icon name="arrow-round-back"></ion-icon>
            </button>
          
            <button ion-button icon-only (click)="open()">
              <ion-icon name="add"></ion-icon>
            </button>
            <button ion-button icon-only>
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list>
      <ion-item *ngFor="let item of lista">

        <ion-card color="secondary">
          <ion-card-header>
            <h3>Nombre:</h3>
            <h1>{{item.nombre}}</h1>
          </ion-card-header>
        </ion-card>



      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let item of lista2">
        <!---->

        <ion-card color="danger" (click)="detalles(item.id)">
          <ion-card-header>
            <h3>Nombre Tarea:</h3>
            <h1>{{item.nombre}}</h1>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

  </ion-content>
</body>
</html>
