
  <ion-header>
    <ion-navbar color="upch">
      <ion-title>
        Proyectos Tablero
      </ion-title>
    </ion-navbar>

  </ion-header>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>



<ion-content padding>

  <button ion-button color="upch" menuToggle (click)="devs()" full>Desarrolladores</button>
  <div class="row row-10">
    <div class = "col col-10 header">

      <ion-item *ngFor="let item of pendiente">
        <ion-card color="danger">
          <ion-card-header>
            <h1>Pendiente</h1>
          </ion-card-header>
        </ion-card>

        <ion-card color="upch2">
          <ion-card-header>
            <h3 style="white-space: normal">Nombre </h3>
           <h1>{{item.nombre}}</h1>
          </ion-card-header>
        </ion-card>

        <ion-card color="upch2">
          <ion-card-header>
            
            
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>

          </ion-card-header>
        </ion-card>

      </ion-item>
  </div>
  <div class = "col col-10 header">
    <ion-item *ngFor="let item of haciendo">
      <ion-card color="hac">
        <ion-card-header>
          <h1>Haciendo</h1>
        </ion-card-header>
      </ion-card>
      <ion-card color="upch2">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
      </ion-card>

      <ion-card color="upch2">
        <ion-card-header>
      
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
      
        </ion-card-header>
      </ion-card>

    </ion-item>
  </div>
  <div class = "col col-10 header">
    <ion-item *ngFor="let item of pruebas">
      <ion-card color="prueba">
        <ion-card-header>
          <h1>En Pruebas</h1>
        </ion-card-header>
      </ion-card>

      <ion-card color="upch2">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
      </ion-card>

      <ion-card color="upch2">
        <ion-card-header>
      
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
      
        </ion-card-header>
      </ion-card>

    </ion-item>
  </div>
  <div class = "col col-10 header">
    <ion-item *ngFor="let item of terminado">
      <ion-card color="back">
        <ion-card-header>
          <h1>Terminado</h1>
        </ion-card-header>
      </ion-card>

      <ion-card color="upch2">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
      </ion-card>

      <ion-card color="upch2">
        <ion-card-header>
      
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
      
        </ion-card-header>
      </ion-card>

    </ion-item>
  </div>
  </div>

</ion-content>