<html>
<head>
</head>
<body>
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Proyectos
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="devs()">
          <ion-icon name="people">Desarrolladores</ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

  </ion-header>


<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>
  <div class="row row-10">
    <div class = "col col-10 header"><h1>Pendiente</h1>
      <ion-item *ngFor="let item of pendiente">
        <ion-card color="secondary">
          <ion-card-header>
            <h3>Nombre:</h3>
           <h1>{{item.nombre}}</h1>
          </ion-card-header>
          <ion-card-content>
            <h3>Responsable: </h3>
            <h1>{{item.usuario}}</h1>
            <h3>Proyecto: {{item.proyecto}}</h3>
            <h3>Sprint: {{item.sprint}}</h3>
            <h3>Historia de usuario: {{item.hu}}</h3>
          </ion-card-content>
        </ion-card>

      </ion-item>
  </div>
  <div class = "col col-10 header"><h1>Haciendo</h1>
    <ion-item *ngFor="let item of haciendo">
      <ion-card color="secondary">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
        <ion-card-content>
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </div>
  <div class = "col col-10 header"><h1>En pruebas</h1>
    <ion-item *ngFor="let item of pruebas">
      <ion-card color="secondary">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
        <ion-card-content>
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </div>
  <div class = "col col-10 header"><h1>Terminado</h1>
    <ion-item *ngFor="let item of terminado">
      <ion-card color="secondary">
        <ion-card-header>
          <h3>Nombre:</h3>
         <h1>{{item.nombre}}</h1>
        </ion-card-header>
        <ion-card-content>
          <h3>Responsable: </h3>
          <h1>{{item.usuario}}</h1>
          <h3>Proyecto: {{item.proyecto}}</h3>
          <h3>Sprint: {{item.sprint}}</h3>
          <h3>Historia de usuario: {{item.hu}}</h3>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </div>
  </div>

</ion-content>
</body>
</html>
